In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("/content/ML_study_jam.csv")

In [4]:
data.head(10)

   ï»¿Store ID  Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
0          1.0      1659.0           1961.0                 530.0      66490.0
1          2.0      1461.0           1752.0                 210.0      39820.0
2          3.0      1340.0           1609.0                 720.0      54010.0
3          4.0      1451.0           1748.0                 620.0      53730.0
4          5.0      1770.0           2111.0                 450.0      46620.0
5          6.0      1442.0           1733.0                 760.0      45260.0
6          7.0      1542.0           1858.0                1030.0      72240.0
7          8.0      1261.0           1507.0                1020.0      37720.0
8          9.0      1090.0           1321.0                 680.0      46310.0
9         10.0      1030.0           1235.0                1130.0      44150.0

In [5]:
data.describe()

,ï»¿Store ID,Store_Area,Items_Available,Daily_Customer_Count,Store_Sales
count,588.000000,587.000000,579.000000,581.000000,582.000000
mean,295.369048,1482.250426,1775.050086,785.807229,58223.865979
std,170.735362,280.558792,336.940338,273.503711,17073.973067
min,1.000000,0.000000,0.000000,0.000000,0.000000
25%,147.750000,1312.000000,1571.000000,600.000000,45597.500000
50%,294.500000,1480.000000,1770.000000,770.000000,56960.000000
75%,443.250000,1670.500000,1999.500000,980.000000,70437.500000
max,590.000000,2229.000000,2667.000000,1530.000000,102920.000000

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590 entries, 0 to 589
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ï»¿Store ID           588 non-null    float64
 1   Store_Area            587 non-null    float64
 2   Items_Available       579 non-null    float64
 3   Daily_Customer_Count  581 non-null    float64
 4   Store_Sales           582 non-null    float64
dtypes: float64(5)
memory usage: 23.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590 entries, 0 to 589
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ï»¿Store ID           588 non-null    float64
 1   Store_Area            587 non-null    float64
 2   Items_Available       579 non-null    float64
 3   Daily_Customer_Count  581 non-null    float64
 4   Store_Sales           582 non-null    float64
dtypes: float64(5)
memory usage: 23.2 KB

In [14]:
data_by_customer = {
   accepted: sub_df
   for accepted, sub_df in data.groupby("Daily_Customer_Count")
}

In [ ]:
data_frame1=data[data['card']=='yes'] 

data_frame2=data[data['card']=='no']

In [15]:
data['Daily_Customer_Count']
data['new_column'] = 10
data.loc[data['Daily_Customer_Count'] > 500]
data.iloc[0]
data[(data['Daily_Customer_Count'] > 500) & (data['Store_Sales'] == '66490.0')]

Empty DataFrame
Columns: [ï»¿Store ID, Store_Area, Items_Available, Daily_Customer_Count, Store_Sales, new_column]
Index: []

In [ ]:
# for Removing Rows/ Attributes

In [16]:
data = data.drop(data[data.Items_Available <579.000000 ].index)

print(data)

     ï»¿Store ID  Store_Area  Items_Available  Daily_Customer_Count  \
0            1.0      1659.0           1961.0                 530.0
1            2.0      1461.0           1752.0                 210.0
2            3.0      1340.0           1609.0                 720.0
3            4.0      1451.0           1748.0                 620.0
4            5.0      1770.0           2111.0                 450.0
..           ...         ...              ...                   ...
585        586.0      1227.0           1476.0                 720.0
586        587.0      1609.0           1930.0                 740.0
587        588.0      1553.0           1831.0                 740.0
588        589.0      1814.0           2174.0                 770.0
589        590.0      1240.0           1493.0                 590.0

     Store_Sales  new_column
0        66490.0          10
1        39820.0          10
2        54010.0          10
3        53730.0          10
4        46620.0          10
..           ...         ...
585      56260.0          10
586      76470.0          10
587      35680.0          10
588      90070.0          10
589      33120.0          10

[586 rows x 6 columns]

In [17]:
data = data.fillna(data.mean())

print(data)

     ï»¿Store ID  Store_Area  Items_Available  Daily_Customer_Count  \
0            1.0      1659.0           1961.0                 530.0
1            2.0      1461.0           1752.0                 210.0
2            3.0      1340.0           1609.0                 720.0
3            4.0      1451.0           1748.0                 620.0
4            5.0      1770.0           2111.0                 450.0
..           ...         ...              ...                   ...
585        586.0      1227.0           1476.0                 720.0
586        587.0      1609.0           1930.0                 740.0
587        588.0      1553.0           1831.0                 740.0
588        589.0      1814.0           2174.0                 770.0
589        590.0      1240.0           1493.0                 590.0

     Store_Sales  new_column
0        66490.0          10
1        39820.0          10
2        54010.0          10
3        53730.0          10
4        46620.0          10
..           ...         ...
585      56260.0          10
586      76470.0          10
587      35680.0          10
588      90070.0          10
589      33120.0          10

[586 rows x 6 columns]

In [18]:
threshold = 20

# Replace values beyond the threshold with NaN
df = data.mask(data > threshold)

print(data)

     ï»¿Store ID  Store_Area  Items_Available  Daily_Customer_Count  \
0            1.0      1659.0           1961.0                 530.0
1            2.0      1461.0           1752.0                 210.0
2            3.0      1340.0           1609.0                 720.0
3            4.0      1451.0           1748.0                 620.0
4            5.0      1770.0           2111.0                 450.0
..           ...         ...              ...                   ...
585        586.0      1227.0           1476.0                 720.0
586        587.0      1609.0           1930.0                 740.0
587        588.0      1553.0           1831.0                 740.0
588        589.0      1814.0           2174.0                 770.0
589        590.0      1240.0           1493.0                 590.0

     Store_Sales  new_column
0        66490.0          10
1        39820.0          10
2        54010.0          10
3        53730.0          10
4        46620.0          10
..           ...         ...
585      56260.0          10
586      76470.0          10
587      35680.0          10
588      90070.0          10
589      33120.0          10

[586 rows x 6 columns]

In [20]:
grouped = df.groupby('Items_Available')

# iterate over the groups and print them
for name, group in grouped:
    print(name)
    print(group)